<script src="../static/libs/chart.js/dist/Chart.js"></script>
<script src="../static/libs/qrcode/build/qrcode.js"></script>
<% include ../partials/header%>
<% include ../partials/navbar%>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 sideBar">
            <!--QR code-->
            <canvas id="QRCode"></canvas>
            <br>
            <!--Comments-->
            <% item.comments.forEach(function(comment){ %>
                <div class="container">
                    <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
                    <a class="btn btn-small btn-warning" href="/items/<%= item._id %>/comments/<%= comment._id %>/edit">edit</a>
                    <form method="post" action="/items/<%= item._id %>/comments/<%= comment._id %>?_method=DELETE">
                        <button class="btn btn-warning btn-small">Delete</button>
                    </form>
                </div>
            <% }); %>
        </div>
        <div class="col-8">
            <!---->
            <!---->
            <!--MAIN PART-->
            <h1>Inventory</h1>
            <div class="row">
                <div class="col-6">
                    <!--Information about item-->
                    <% include ../partials/itemCard %>
                </div>
                <div class="col-6">
                    <div id="forChart" style="background-color: white; border-radius: 2%; height: 22rem;">
                        <canvas id="myChart"></canvas>
                    </div>
                    <% if(ADMIN){ %>
                        <a href="/items/<%= item._id %>/edit" type="button" class="btn-warning">Edit</a>
                    <% } %>
                </div>
            </div>
            <div class="card-columns">
                <% item.storage.forEach(function(piece){ %>
                    <% include ../partials/pieceCard %>
                <% }); %>
            </div>
        </div>



        <div class="col-2 sideBar">
            <div class="container-fluid" id="userInfo">
                <div class="row">
                    <div class="col-12">

                        <!--Some vary important statistics-->
                        <p>Visits this month: <%= item.statistics.visitsThisMonth %></p>
                        <p>Items available: <%= item.quantityAvailable %></p>

                        <!--Add to the cart-->
                        <% if(item.disposable){ %>
                            <form action="/itemManager/addToCart/<%= item._id %>" method="post">
                            <form action="/itemManager/addToCart/<%= item._id %>" method="post">
                                <h5>Add this item to the cart</h5>
                                <input type="number" name="quantity" min="0" max="<%= item.quantityAvailable %>" value="1" required>
                                <button type="submit">Add now</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <h6>This item was taken by:</h6>
                    <div class="card-columns">
                        <% item.records.slice().reverse().forEach(function(record){ %>
                            <div class="card" style="width: 15rem;">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="fakeImage228"></div>
                                    </div>
                                    <div class="col-9">
                                        <!--Here is the card for records-->
                                        <a style="margin: -1px;" href="../user/<%= record.user.username %>"> <%= record.user.username %> </a>
                                        <p style="margin: -1px;"> <%= record.user.email %> </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p style="margin: -1px;"> <%= record.item.shortID %> </p>
                                        <p style="margin: -1px;"> <%= record.returned %> </p>
                                        <p style="margin: -1px;"> <%= record.dateReturn %> </p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Some crazy shit-->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March', 'May', 'April', 'June', 'Jule', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: 'How often was it taken',
                data: <%- JSON.stringify(item.statistics.yearLog.wasTaken) %>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var qr = document.getElementById('QRCode');
    QRCode.toCanvas(qr, window.location.toString(), function (error) {
        if (error) console.error(error)
    })

</script>

</body>